/SDM-RDFizer/.idea/
/skill-annotation/ttlFiles/
/skill-annotation/input data/
/skill-annotation/.idea/
/skill-annotation/skill-annotation.iml
/skill-annotation/target/classes
/skill-annotation/target/maven-archiver/
